# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node (если появится скрипт для отзывов)
node_modules/
npm-debug.log*

# Logs & temp
*.log
*.tmp
